Makefile
Makefile.in
.deps
.libs
.msg
*.lo
*.la
*.a
*.o
*~
aclocal.m4
autom4te.cache
m4/lt*m4
m4/libtool.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
xorg-server.pc
stamp-h?
do-not-use-config.h
do-not-use-config.h.in
kdrive/fbdev/Xfbdev
kdrive/vesa/Xvesa
include/dix-config.h
include/kdrive-config.h
include/xkb-config.h
ylwrap
err
*rig
*rej
config.cache
*.tar.*
